
.paragraph{
    font-family: "Handjet", system-ui;
    color: antiquewhite;
    font-size: 1.2em;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "ELGR" 1,
        "ELSH" 2;
}


.nabla-heading {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
}

.handjet-header {
    font-family: "Handjet", system-ui;
    font-size: 1.2em;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.main-heading {
    /* background-color: goldenrod; */
    color: #e4e4e4;
}
.sub-heading {
    /* background-color: goldenrod; */
    color: #e4e4e4;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    color: #c9c9c9;
    background-color: #111111;
    text-align: center;
    line-height: 20px; /* This vertically centers the text if the height is 20px */
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 2 !important;
}
.body-style{
    background-color: #1d1d1d;
}